* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: green;
}

main {
    background-color: gray;
    padding: 15px 0;
}

.container {
    width: 600px;
}